<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>22-intern-demo-myGate</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>ism.controller.Signup.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>ism.controller.Signup.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseController</display-name>
    <servlet-name>AddHouseController</servlet-name>
    <servlet-class>ism.controller.House.AddHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseController</servlet-name>
    <url-pattern>/AddHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>ism.controller.Signup.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>ism.controller.Signup.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileController</display-name>
    <servlet-name>UpdateProfileController</servlet-name>
    <servlet-class>ism.controller.Signup.UpdateProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileController</servlet-name>
    <url-pattern>/UpdateProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMemberHouseNumber</display-name>
    <servlet-name>GetMemberHouseNumber</servlet-name>
    <servlet-class>ism.controller.House.GetMemberHouseNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMemberHouseNumber</servlet-name>
    <url-pattern>/GetMemberHouseNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberController</display-name>
    <servlet-name>AddMemberController</servlet-name>
    <servlet-class>ism.controller.member.AddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberController</servlet-name>
    <url-pattern>/AddMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>ism.controller.Signup.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDoneController</display-name>
    <servlet-name>ApproveDoneController</servlet-name>
    <servlet-class>ism.controller.Signup.ApproveDoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDoneController</servlet-name>
    <url-pattern>/ApproveDoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>ism.controller.Signup.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllHouse</display-name>
    <servlet-name>GetAllHouse</servlet-name>
    <servlet-class>ism.controller.House.GetAllHouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllHouse</servlet-name>
    <url-pattern>/GetAllHouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructionController</display-name>
    <servlet-name>AddInstructionController</servlet-name>
    <servlet-class>ism.controller.instruction.AddInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructionController</servlet-name>
    <url-pattern>/AddInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionController</display-name>
    <servlet-name>ListInstructionController</servlet-name>
    <servlet-class>ism.controller.instruction.ListInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionController</servlet-name>
    <url-pattern>/ListInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllowFromInstruction</display-name>
    <servlet-name>AllowFromInstruction</servlet-name>
    <servlet-class>ism.controller.instruction.AllowFromInstruction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllowFromInstruction</servlet-name>
    <url-pattern>/AllowFromInstruction</url-pattern>
  </servlet-mapping>
</web-app>